.moon {
  color: orange;
  font-size: 20px;
}
.big-text {
  font-size: 40px;
}
#europa-text {
  font-size: 10px;
  color: blue;
}
h1 {
  color: blue;
  font-size: 20px;
  background-color: blanchedalmond;
}

button[type="submit"] {
  background-color: black;
}

h4 {
  font-weight: 600;
}
